<%= link_to workout_path(workout) do %>
  <%= polaris_callout_card do |callout| %>
    <%= polaris_stack(vertical: true) do |stack| %>
      <% stack.with_item do %>
        <div class="flex">
          <div class="flex-shink mr-1">
            <%= polaris_icon(name: "ClockMinor") %>
          </div>
          <%= workout.scheduled_at.to_formatted_s(:short) %>
        </div>
      <% end %>
      <% stack.with_item do %>
        <div class="flex">
          <div class="flex-shink mr-1">
            <%= polaris_icon(name: "LocationsMinor") %>
          </div>
          <%= "Gymset Clifton" %>
        </div>
      <% end %>
      <% stack.with_item do %>
        <div class="flex">
          <div class="flex-shink mr-1">
            <%= polaris_icon(name: "LocationsMinor") %>
          </div>
          <%= "Luca" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
