<%= form_with(model: workout, class: "contents mt-10") do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:user] %>
    <%= form.text_field :user_id, value: params[:user] %>
  <% end %>

  <%= render InputComponent.new(form: form, field: :scheduled_at, type: :datetime) %>
  <%= render InputComponent.new(form: form, field: :location, type: :text, datalist: ["Luxe", "GymSet"]) %>

  <%= render(ButtonComponent.new(type: :primary, full_width: true)) { "Add Workout" } %>
<% end %>
