<div id="<%= dom_id workout %>">

<div class="container mx-auto my-5">
  <div class="mb-5">
    <%= polaris_text(variant: :heading2xl, as: :h2) { "Activities" } %>
  </div>

  <div
    class="mb-5"
    <% if params[:activity] %>
      <% activity = Activity.find(params[:activity]) %>
      data-controller="scroll-to"
      data-scroll-to-selector-value="#<%= dom_id(activity) %>"
    <% end%>
  >
    <% workout.activities.each do |activity| %>
      <%= content_tag :div, id: dom_id(activity) do %>
        <%= render "activities/card", activity: activity %>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_workout_activity_path(workout) do %>
    <%= polaris_button(full_width: true) { "Add Activity" } %>
  <% end %>
</div>

  <% if action_name != "show" %>
    <%= link_to "Show this workout", workout, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this workout", edit_workout_path(workout), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
