<div class="md:pr-14">
  <div class="flex items-center">
    <h2 class="flex-auto text-lg font-semibold text-slate-300"><%= title %></h2>
    <%= link_to previous_button_link, class: "-my-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
      <span class="sr-only">Previous month</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
      </svg>
    <% end %>
    <%= link_to next_button_link, class: "-my-1.5 -mr-1.5 ml-2 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
      <span class="sr-only">Next month</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
      </svg>
    <% end %>
  </div>
  <div class="mt-10 grid grid-cols-7 text-center text-xs leading-6 text-slate-400">
    <% %w(M T W T F S S).each do |weekday| %>
      <div><%= weekday %></div>
    <% end %>
  </div>
  <div class="mt-2 grid grid-cols-7 text-sm">
    <% visible_date_range.each do |visible_date_range_date| %>
      <%= render CalendarDateComponent.new(date: visible_date_range_date, selected: visible_date_range_date == date, disabled: !visible_date_range_date.in?(month_range)) do |calendar_date| %>
        <%= annotations_for_date(date_component: calendar_date, date: visible_date_range_date) %>
      <% end %>
    <% end %>
  </div>
</div>
