<% if params[:comment] && params[:activity] == activity.id.to_s  %>
  <% comment = activity.comments.first || activity.comments.build %>
  <% url = comment.persisted? ? post_path(comment) : posts_path %>

  <%= render BlurOverlayComponent.new do %>
    <%= form_with model: comment, url: url, data: {"turbo-action": "replace"}, class: "flex flex-col absolute inset-0" do |form| %>
      <%= form.hidden_field :subject_id, value: activity.id %>
      <%= form.hidden_field :subject_type, value: activity.model_name.name %>
      <%= form.text_area :body, class: "rounded m-5 flex-grow border border-gray-800 bg-black bg-opacity-50", placeholder: "Add notes here" %>
      <div class="p-5 pt-0">
        <%= render(ButtonComponent.new(type: :primary, full_width: true, submit: true)) { "Save" } %>
      </div>
    <% end %>
  <% end %>
<% end %>
