<% if params[:config] && params[:activity] == activity.id.to_s  %>
  <%= render BlurOverlayComponent.new do %>
    <%= form_with(model: activity, url: activity_path(activity), data: {"turbo-action": "replace"}, class: "flex flex-col absolute inset-0") do |form| %>
      <div class="rounded m-5 flex-grow">
        <h2 class="text-xl font-bold">Settings</h2>
        <div class="mt-5 flex items-center">
          <%= form.check_box :split, class: "mr-5 w-8 h-8" %>
          <%= form.label :split, class: "text-lg" %>
        </div>
      </div>
      <div class="p-5 pt-0">
        <%= render(ButtonComponent.new(type: :primary, full_width: true, submit: true)) { "Save" } %>
      </div>
    <% end %>
  <% end %>
<% end %>
