<%= turbo_frame_tag :search_results do %>
  <% if results %>
    <ul role="list" class="divide-y divide-slate-800 bg-slate-900 border border-slate-800 container mx-auto rounded">
      <% results["hits"].each do |hit| %>
        <li>
          <%= form_with model: [workout, activity,], data: {"turbo-frame": "_top"}  do |form| %>
            <%= form.button class: "flex justify-between gap-x-6 p-5 text-left border-2 border-slate-900 hover:border-blue-500 rounded" do %>
              <%= form.hidden_field :exercise_id, value: hit["document"]["id"] %>
              <div class="flex min-w-0 gap-x-4">
                <div class="w-6 mt-1">
                  <%= render IconComponent.new(icon: :fitness_center , size: :xl, color: :slate) %>
                </div>
                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-slate-300"><%= raw hit["highlights"][0]["snippet"] %></p>
                  <p class="mt-1 text-xs leading-5 text-slate-500"><%= hit["document"]["description"] %></p>
                </div>
              </div>
              <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-slate-900">
                  <%= render(BadgeComponent.new(color: :yellow)) { hit["document"]["level"] } %>
                  &nbsp;
                  <%= render(BadgeComponent.new(color: :yellow)) { hit["document"]["exercise_type"] } %>
                </p>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
